@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.textBox
{
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    padding: 2% 0%;
    gap: 1%;
    margin: 0 1%;
}
.textBox li
{
    display: grid;
    grid-auto-flow: column;
    /* border: 1px solid black; */
    font-family: "Poppins", sans-serif;
}
/* .textBox img
{
    width: 100px;
    height: 100px;
} */
.ph,.addr
{
    width: 40px;
    height: 40px;
}
.mail
{
    width: 60px;
    height: 60px;
}
.textBox span
{
    display: grid;
    place-items: center;
    text-align: center;
}
@media (max-width:516px) {
    .textBox
    {
        grid-auto-flow: row;
        gap: 1%;
        place-items: center;
    }
}
