@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.Abtsintro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr;
    background-color: black;
    color: whitesmoke;
    padding: 2%;
}

.Abtsintro img {
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.Abtsintro h2 {
    background: linear-gradient(135deg, #10abc0, #1085f1, #ed1c24);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.Abtsintro ul li {
    /* list-style: disc; */
    padding: 2%;
    margin: 1%;
    font-family: "Poppins", sans-serif;

}

.DirectorsDesk {
    /* background-image: linear-gradient(to left, #ffffff, #fafafb, #f4f4f7, #eeeff4, #e8eaf0, #dadce2, #cbced5, #bdc0c7, #a4a7ad, #8c8f93, #75777a, #5f6062); */
    background-image: linear-gradient(to right top, #0d078f, #000e77, #000f5e, #000d46, #07052e);
    background-size: cover;
    /* background-image: linear-gradient(to top, #2800ff, #1f10ec, #1917da, #161cc7, #151eb5, #0d20a1, #0b218d, #0e2079, #111e5f, #141b44, #15162b, #111112);
    background-image: linear-gradient(to bottom, #09123a, #00264c, #00395b, #004d67, #166071, #2a727e, #3d848b, #509698, #5eacac, #6dc3c1, #7ddad6, #8df2ea);
    background-image: linear-gradient(to bottom, #09123a, #002c55, #00476e, #006383, #1e7f96, #3392a3, #48a5af, #5db8bb, #68c6c7, #74d5d3, #80e3de, #8df2ea); */
    background-image: linear-gradient(to bottom, #09123a, #02315d, #00527f, #00759e, #009ab9, #0fa1b7, #23a8b5, #35aeb2, #2c9898, #23827f, #1b6d68, #125852);
}

.DirectorsDesk h1 {
    width: 100%;
    text-align: start;
    font-size: 3rem;
    padding: 2%;
    background: radial-gradient(circle farthest-corner at center center, #F2804C 0%, #F6B43E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Cinzel", serif;
    font-weight: 500;
}

.DirectorWords {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.DirectorImage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: black; */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    align-content: center;
}

/* .DirectorImage img
{
    border: 5px solid rgb(255, 255, 255);
} */
/* .DirectorImage h2
{
    color: rgb(234, 194, 93);
} */
.DirectorName h2 {
    font-size: 1.5rem;
    color: #df920b;
    color: #000e77;
    font-weight: 600;
    /* background-color: #000d4680; */

}

.Quote {
    padding: 2%;
    /* background-color: whitesmoke; */
    border-radius: 16px;
    background: rgba(32, 32, 32, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(32, 32, 32, 0.3);
    /* position: relative; */
    /* position: relative; */
    
}
.Quote img
{
    position: absolute;
    /* rotate: 180deg; */
    transform: rotateX(180deg);
    z-index: -1;
    height: 20px;
    width: auto;
    top: 0;
    left: 0;
}
.QuoteDiv
{
    
    padding: 2%;
}
.Quote p {
    color: rgb(255, 166, 0);
    text-align: center;
    word-wrap: break-word;
    font-size: 1.2rem;
    z-index: 2;
    position: relative;
    font-family: "Poppins", sans-serif;
    
}

.Quote div {
    color: red;
    width: 100%;
    text-align: end;
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
}

.DirectorDesig h2 {
    font-size: 1.1rem;
    color: #10abc0;
    color: white;
}

.DirectorImage img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 2%;
}

.DirectorWordsPara {

    /* background-color: wheat; */
    padding: 2%;
    margin: 2%;
    color: white;
    /* background-image: linear-gradient(to right top, #0d078f, #251ba6, #372cbe, #473dd7, #564ef0);
    outline: none;
    border: none; */
    font-family: "Poppins", sans-serif;
    border-left: 3px solid rgb(235, 170, 20);
    /* border-bottom: 3px solid rgb(235, 170, 20); */
}


.DirectorWordsPara p {
    padding: 2%;
    text-align: center;
    margin: 1%;
    font-size: 1.7rem;
}

.CardSection {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
    padding: 2%;
    padding-top: 0;
    z-index: 0;
}

.KeyArea {
    background-image: url("../images/ABOUTUS/blob-scene-haikei5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.KeyArea h1 {
    color: rgb(181, 175, 175);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    padding: 2%;
    font-family: "Poppins", sans-serif;
}

.AccordionDiv {
    padding: 2%;
    background-color: rgb(186, 181, 181);
}

.AccordionBar {
    background-color: #ed1c24;
    color: whitesmoke;
}

.AccordionTrigger {
    padding: 2%;
    border: 1px solid black;
}

.AccordionItem {
    border: 1px solid black;
}

.ImageSlider1 {
    padding: 5%;
}

.AccordionContent {
    background-color: rgb(26, 25, 25);
}

.AccordionDiv h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
}

.AccordionDiv p {
    text-align: center;
    padding: 4%;

}

/* .Accordionpara1
{
    background: url("../images/ABOUTUS/SILVER LOGO Transparent.png") no-repeat center center;
    background-size: contain;
    backface-visibility: 50%;
} */
.Accordionpara1 {
    position: relative;
}

.Accordionpara1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/ABOUTUS/SILVER LOGO Transparent.png") no-repeat center center;
    background-size: contain;
    opacity: 0.2;
    /* Adjust opacity as needed */

}

.AccordionContentHSE {
    background: url("../images/ABOUTUS/Rectangle  HSE POLICY.png") no-repeat;
    /* background-image: linear-gradient(to left bottom, #47dcdc, #37d0bf, #37c39f, #41b57f, #4ea65e, #628f3f, #6b7827, #6d6218, #62421a, #4a291c, #2a1717, #000000); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: black;
}

.AccordionContentHSE h1 {
    padding: 2%;
    font-weight: 700;
    font-family: "Cinzel", serif;
    color: rgb(7, 13, 95);
    word-wrap: break-word;
    font-size: 2rem;
}
.AccordionContentHSE p
{
    font-weight: 600;
}
@media (max-width:667px) {
    .Abtsintro {
        grid-template-rows: 1fr 0.2fr 1fr;
    }

    .Abtsintro img {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .Abtsintro h2 {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        height: fit-content;
    }

    .Abtsintro ul {
        grid-column: 1/3;
        grid-row: 3/4;
    }

}

@media (max-width:1162px) {
    .CardSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:780px) {
    .CardSection {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:432px)
{
    .DirectorWords {
      
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:231px) {
    .DirectorsDesk h1 {
        font-size: 2rem;
    }
    .DirectorImage img {
        width: 200px;
        height: 200px;
    }
}