.Maindash
{ 
    display: grid;
    place-items: center;
    width: 100vw;
    height: max-content;
    margin: 1% 0;
    /* padding: 2%; */
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;   
}


